
    
        body{
            background-color: white;
            color: black;
        }
        h1 { 
           background-color:lightblue;
           color: black;
        }
        p {
            width: 85%;
            color: black;
            font-size:large;
        }
        p.link {
            text-align: right;
        }
        h2 {
            color: black;
            background-color: lightblue;
        }
        ol{
            color: black;
            width:50%;
            font-size: medium;
        }
         a{
            width:large;
            text-align:right;
         }
         
        p.Bild{
            width: 50%;
        }
         
        
         img{
              width:
         }
         
         <1-Tag.html>
         <html lang="de">
           <head>
             <link rel="stylesheet" href="style.css">
 
 
             <!doctype html>
             <html lang="de">
               <head>
                 < rel= "stylesheet" href="style.css">
                 ...
































































